# Recommended for most uses
DATABASE_URL="postgres://neondb_owner:npg_ngHcx82bYfmu@ep-purple-meadow-a5s3svcy-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require"

# For uses requiring a connection without pgbouncer
DATABASE_URL_UNPOOLED="postgresql://neondb_owner:npg_ngHcx82bYfmu@ep-purple-meadow-a5s3svcy.us-east-2.aws.neon.tech/neondb?sslmode=require"

# Parameters for constructing your own connection string
PGHOST="ep-purple-meadow-a5s3svcy-pooler.us-east-2.aws.neon.tech"
PGHOST_UNPOOLED="ep-purple-meadow-a5s3svcy.us-east-2.aws.neon.tech"
PGUSER="neondb_owner"
PGDATABASE="neondb"
PGPASSWORD=n"pg_ngHcx82bYfmu"

# Parameters for Vercel Postgres Templates
POSTGRES_URL="postgres://neondb_owner:npg_ngHcx82bYfmu@ep-purple-meadow-a5s3svcy-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require"
POSTGRES_URL_NON_POOLING="postgres://neondb_owner:npg_ngHcx82bYfmu@ep-purple-meadow-a5s3svcy.us-east-2.aws.neon.tech/neondb?sslmode=require"
POSTGRES_USER="neondb_owner"
POSTGRES_HOST="ep-purple-meadow-a5s3svcy-pooler.us-east-2.aws.neon.tech"
POSTGRES_PASSWORD="npg_ngHcx82bYfmu"
POSTGRES_DATABASE="neondb"
POSTGRES_URL_NO_SSL="postgres://neondb_owner:npg_ngHcx82bYfmu@ep-purple-meadow-a5s3svcy-pooler.us-east-2.aws.neon.tech/neondb"
POSTGRES_PRISMA_URL="postgres://neondb_owner:npg_ngHcx82bYfmu@ep-purple-meadow-a5s3svcy-pooler.us-east-2.aws.neon.tech/neondb?connect_timeout=15&sslmode=require"

KINDE_CLIENT_ID="5515f6a2a5f64719a6b71a7f70a2c51e"
KINDE_CLIENT_SECRET="DlP7Ybe5I1uu6F4Gh8WPceUeF3DaDDmmDrhNhQXYG9dr84CYnrMLi"
KINDE_ISSUER_URL="https://yousifcompany.kinde.com"
KINDE_SITE_URL="https://yousifcompany.kinde.com"
KINDE_POST_LOGOUT_REDIRECT_URL="https://animated-computing-machine-69wgxjqgpqpf597g-3000.app.github.dev/api/auth/logout"
KINDE_POST_LOGIN_REDIRECT_URL="https://animated-computing-machine-69wgxjqgpqpf597g-3000.app.github.dev/api/auth/kinde_callback"

NEXT_PUBLIC_APP_URL="https://yousifcompany.kinde.com"

NEXT_PUBLIC_GEMINI_API_KEY="AIzaSyDCuhyT3nEdKyj4ygMwXx-Wsdkubu4MzhQ"